<section class="card">
  <a href="/post/{{id}}"></a>
    <header>{{post.title}}
      By:
      {{user.username}}
      Date Created: FIX TIME
      {{post.createdAt}}</header>
    <p>{{post.content}}</p>
  </a>
</section>