<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}
      By:
      {{User.username}}
      Date Created:
      {{format_date createdAt}}</header>
    <p>{{content}}</p>
  </a>
</section>
<!-- FIx the bug with FER-->