{{#if loggedIn}}
  <section class="post">

    <section class="card">
      <header>{{title}}
        By:
        {{user.username}}
        Date Created: FIX TIME
        {{posts.created_at}}</header>
      <p>{{content}}</p>
    </section>
  </section>
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}