{{#if loggedIn}}
  <section class="post">

    <section class="card">
      <header>{{post.title}}
        By:
        {{post.user.username}}
        Date Created: FIX TIME
        {{post.createdAt}}</header>
      <p>{{post.content}}</p>
    </section>
    <section id="enteredComment">
      <!--
      <h2>{{comment.content}} </h2>
      <h2>{{comment.author}} </h2>
      -->
    </section>
    <form>
      <p>Comment</p>
      <textarea
        name="commentText"
        id="commentText"
        cols="30"
        rows="10"
      ></textarea>
      <button onclick="handleCommentSubmit("{{post.id}}")">Submit</button>
    </form>
  </section>
  <script src="/js/comment.js"></script>
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}